.meetVideoContainer{
    position: relative;
    height: 100vh;
    background: #1e1e30;
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 200px;
    right: 0;
    border-radius: 20px;
}

.buttonContainer{
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainer  svg {
    font-size: 2.5rem;
}

.conferenceView {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.conferenceView > video {
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}

